/*Reset*/
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Times New Roman', Times, serif;
}

/* Header */
header {
    /*Tamaño de Altura*/
    height: 100px;
    /*Color de la caja 'Headre'*/
    background: #1d3968;
    /*Es la separación de los lados*/
    padding: 20px;
    /*El orden como van los componente*/
    display: flex;
    /*Centra los componentes el la caja 'header'*/
    align-items: center;
    /*Separa los componentes*/
    justify-content: space-between;
}

header .espacio {
    display: none;
}

header a {
    /*Color de la letra*/
    color: white;
    /*Posición de la letra*/
    text-align: center;
    /*Borrar linea del 'link'*/
    text-decoration: none;
    /*background: yellow;*/
    /*El tiempo de cambio de color*/
    transition: 0.5s;
}

header a:hover {
    color: rgb(193, 22, 39);
}

/*Responsive 'Header' {800px}*/
@media(max-width: 800px) {

    /*Header*/
    header {
        padding: 0 15px;
    }

    header img {
        width: 100px;
    }

    header a {
        padding-left: 5px;
    }

    header .txt {
        font-size: 20px;
    }
}

/*Responsive 'Header' {560px}*/
@media(max-width: 560px) {

    /*Header*/
    header {
        height: 160px;
        display: block;
    }

    header img {
        padding-top: 10px;
    }

    header .txt {
        display: none;
        /*padding-left: 5px;*/
    }

    header .espacio {
        display: block;
        /*font-size: 10px;*/
    }
}

/*Responsive 'Header' {460px}*/
@media(max-width: 460px) {

    /*Header*/
    header {
        height: 150px;
    }

    header img {
        width: 74px;
    }
}

/* Main */
main {
    background-color: white;
    height: 88vh;
    padding: 15px;
    display: flex;
}

main .fondo {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

main .contenedor {
    position: absolute;
    width: 83%;
    text-align: start;
    /*align-items: center;*/
}

main .linea {
    /*align-items: center;*/
    height: 10px;
    background: black;
}

main .title {
    padding: 35px 0 10px 0;
    text-align: center;
    color: #1d3968;
    font-size: 40px;
}

main .lista {
    display: block;
    /*position: relative;*/
    margin-left: 15%;
    font-size: 40px;
}

main .none {
    color: black;
    text-align: center;
}

main .referencia {
    color: black;
    /*text-align: center;*/
    text-decoration: none;
    font-size: 35px;
}

main .referencia:hover {
    color: rgb(193, 22, 39);
}

main .menu {
    text-align: center;
    width: 200px;
    height: 100%;
    display: block;
    /*padding-top: 30px;*/
}

main .menu img {
    width: 100%;
    height: 16%;
    /*Se "supone" que es para que las img. no se salgan del contenedor "menu"*/
    /*position: relative;*/
    transition: 0.5s;
    /*background: cyan;*/
    padding-top: 20px;
}

main .menu a {
    /*Color de la letra*/
    color: black;
    /*Quitar la linea del link*/
    text-decoration: none;
    /*Centra el link*/
    text-align: center;
    /*El tiempo de cambio de color al pasar el cursor*/
    transition: 0.5s;
    /*Se "supone" que es para que las img. no se salgan del contenedor "menu"*/
    /*position: relative;*/
}

main .menu h2 {
    padding: 0 0 9px 0;
}

main .menu h4 {
    display: none;
}

main .menu img:hover {
    transform: scale(1.10);
}

main .menu *:hover {
    color: rgb(193, 22, 39);
}

/**Responsive 'Main'{1366px}*/
@media(max-width: 1366px) {

    /*Main*/
    main {
        height: 92vh;
    }

    main .lista{
        font-size: 30px;
    }

    main .referencia{
        font-size: 25px;
    }

    main .menu {
        width: 190px;
        height: auto;
        margin-top: 20px;
    }

    main .menu img{
        width: 60%;
        height: 17%;
        padding-top: 1px;
    }
}

/*Responsive 'Main'{769px}*/
@media(max-width: 769px) {

    /*Main*/
    main {
        height: 83vh;
        /*width: auto;*/
        display: block;
        /*Fondo del conejo*/
        background-image: url("../img/fondo.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        position: relative;
    }

    /*Fondo del conejo*/
    main::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.500);
    }

    main .fondo {
        display: none;
    }

    main .contenedor {
        width: 96%;
    }

    main .menu {
        justify-content: center;
        width: 100%;
        height: 21%;
        display: flex;
        font-size: 25px;
        margin-top: 65vh;
        position: relative;
    }

    main .menu img {
        width: 90%;
        height: 70%;
        padding-top: none;
    }

    main .espa {
        margin-right: 50px;
    }

    main .menu h2 {
        display: none;
    }

    main .menu h4 {
        display: flex;
        justify-content: center;
    }

    main .menu img:hover {
        transform: scale(1.05);
    }
}

/*Responsive 'Main' {560px}*/
@media(max-width: 560px) {

    /*Main*/
    main {
        height: 91vh;
    }

    main .contenedor h1 {
        font-size: 25px;
    }

    main .lista{
        /*Tamaño de los puntos*/
        font-size: 20px;
    }

    main .referencia{
        font-size: 20px;
    }

    main .menu {
        width: auto;
        height: 90px;
        margin-top: 74vh;
        font-size: 18px;
    }

    main .menu img {
        height: 60px;
        width: auto;
    }

    main .espa {
        padding-right: 1px;
    }

    main .menu img:hover {
        transform: scale(1.2);
    }
}

/*Responsive 'Header' {430px}*/
@media(max-width: 430px) {

    /*Main*/
    main {
        padding: 8px;
        height: 61vh;
    }

    main .contenedor h1 {
        padding: 25px 0 10px;
    }

    main .lista{
        font-size: 15px;
    }

    main .referencia{
        font-size: 15px;
    }

    main .menu {
        width: 100%;
        height: 110px;
        margin-top: 45vh;
    }

    main .menu img {
        height: 80px;
        width: 55px;
    }

    main .menu a{
        width: 50px;
        height: 110px;
    }

    main .espa {
        padding-right: 4px;
    }
}

/* footer */
footer {
    display: block;
    background-color: #1d3968;
    height: 400px;
    /*Arriba, Derecha, Abajo, Izquierda*/
    padding: 0 0 10px 0;
}

footer .edu {
    width: 100%;
    height: auto;
}

footer .datos {
    display: flex;
    color: white;
    /*Centra los componentes el la caja 'header'*/
    justify-content: center;
    /*Separa los componentes*/
    justify-content: space-between;
    padding: 0 10px;
}

footer .datosBlock {
    display: none;
}

footer .linea {
    padding: 0 20px;
}

footer .itcj {
    display: flex;
}

footer .campus {
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 75px;
    font-size: 20px;
}

footer .campus:hover {
    color: rgb(193, 22, 39);
}

footer .aniversario {
    display: flex;
    justify-content: center;
    height: 35%;
}

/**Responsive 'Footer'{1366px}*/
@media(max-width: 1366px) {

    /*Footer*/
    footer {
        height: 375px;
    }

    footer .campus {
        font-size: 17px;
    }

    footer .aniversario {
        padding-top: 25px;
    }
}

/*Responsive 'Footer'{800px}*/
@media(max-width: 769px) {

    /*Footer*/
    footer {
        height: 540px;
    }

    footer .datos {
        display: none;
    }

    footer .datosBlock {
        padding-top: 10px;
        color: white;
        text-align: center;
        font-size: 20px;
        display: block;
    }

    footer .itcj {
        display: block;
    }

    footer .campus {
        font-size: 18px;
    }

    footer .aniversario {
        height: 23%;
        padding-bottom: 5px;
    }
}

/*Responsive 'Footer' {560px}*/
@media(max-width: 560px) {

    /*Footer*/
    footer {
        height: 500px;
    }

    footer .datosBlock {
        font-size: 16px;
    }

    footer .itcj {
        padding: 0 5px;
    }

    footer .campus {
        font-size: 15px;
    }

    footer .aniversario {
        height: 26%;
        padding-bottom: 10px;
    }
}

/*Responsive 'Footer' {430px}*/
@media(max-width: 430px) {

    /*Footer*/
    footer {
        height: 450px;
    }

    footer .itcj {
        padding: 0 20px;
    }

    footer .campus {
        font-size: 14px;
    }

    footer .aniversario {
        height: 20%;
        padding-bottom: 5px;
    }
}