/*Reset*/
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Times New Roman', Times, serif;
}

/* Header */
header {
    /*Tamaño de Altura*/
    height: 100px;
    /*Color de la caja 'Headre'*/
    background: #1d3968;
    /*Es la separación de los lados*/
    padding: 20px;
    /*El orden como van los componente*/
    display: flex;
    /*Centra los componentes el la caja 'header'*/
    align-items: center;
    /*Separa los componentes*/
    justify-content: space-between;
}

header .espacio {
    display: none;
}

header a {
    /*Color de la letra*/
    color: white;
    /*Posición de la letra*/
    text-align: center;
    /*Borrar linea del 'link'*/
    text-decoration: none;
    /*background: yellow;*/
    /*El tiempo de cambio de color*/
    transition: 0.5s;
}

header a:hover {
    color: rgb(193, 22, 39);
}

/*Responsive 'Header' {800px}*/
@media screen and (max-width: 1000px) {

    /*Header*/
    header {
        padding: 0 15px;
    }

    header img {
        width: 100px;
    }

    header a {
        padding-left: 5px;
    }

    header .txt {
        font-size: 20px;
    }
}

/*Responsive 'Header' {560px}*/
@media(max-width: 450px) {

    /*Header*/
    header {
        height: auto;
        display: block;
    }

    header img {
        width: 15vh;
        padding-top: 10px;
    }

    header .prueba {
        display: none;
    }

    header .espacio {
        display: block;
        font-size: 15px;
        padding-bottom: 15px;
    }
}

/* footer */
footer {
    display: block;
    background-color: #1d3968;
    height: auto;
    width: auto;
    /*Arriba, Derecha, Abajo, Izquierda*/
    padding: 0 0 10px 0;
}

footer .icons {
    background: white;
    padding: 20px;
    /*El orden como van los componente*/
    display: flex;
    /*Centra los componentes el la caja 'header'*/
    align-items: center;
    /*Separa los componentes*/
    justify-content: space-evenly;
}

footer .correo{
    margin-right: 10%;
}

footer .datos {
    display: flex;
    color: white;
    /*Centra los componentes el la caja 'header'*/
    justify-content: center;
    /*Separa los componentes*/
    justify-content: space-between;
    padding: 0 10px;
}

main .datoBlock {
    display: block;
}

footer .datosBlock {
    display: none;
}

footer .linea {
    padding: 0 20px;
}

footer .itcj {
    display: flex;
}

footer .campus {
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 78px;
    font-size: 20px;
}

footer .campus:hover {
    color: rgb(193, 22, 39);
}

footer .contVisitas {
    display: flex;
    margin-left: 85%;
    margin-top: 3%;
}

/**Responsive 'Footer'{1366px}*/
@media screen and (max-width: 1000px) {

    /*Footer*/
    footer {
        height: auto;
    }

    footer .datos {
        display: flex;
        color: white;
        /*Centra los componentes el la caja 'header'*/
        justify-content: center;
        /*Separa los componentes*/
        justify-content: space-between;
        padding: 0;
        font-size: 13px;
    }

    footer .campus {
        font-size: 17px;
        margin-right: 80px;
    }

    footer .contVisitas {
        margin-left: 80%;
    }
}

/*Responsive 'Footer' {430px}*/
@media screen and (max-width: 450px) {

    /*Footer*/
    .icons img{
        margin-top: 20px;
        height: 120px;
    }

    footer .datos {
        display: none;
    }

    footer .datosBlock {
        padding-top: 10px;
        color: white;
        text-align: center;
        font-size: 20px;
        display: block;
    }

    footer .campus {
        font-size: 17px;
        margin-left: 30px;
    }

    .aniversario {
        height: 100px;
        width: 200px;
        margin-left: 0;
    }

    footer .contVisitas {
        margin-top: 10%;
        margin-left: 60%;
    }
}