/*Colores*/
:root {
    --adown: #3771d754;
    --rojo: #9c0312;
    --azul: #1d3968;
    --rdown: #c11627;
    --gris: #515151;
}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Times New Roman', Times, serif;
}

/* Main */
main {
    /*Tamaño de Altura*/
    height: auto;
    padding: 30px 15px;
    position: relative;
    min-width: 660px;
    display: block;
    align-items: center;
    background: white;
}

main .container {
    position: relative;
    min-width: 100%;
    margin: 0 auto;
    display: block;
    justify-content: center;
}

main .superior {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

main .contenedor-slider {
    /*Para que los iconos no se salgan del contenedor*/
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    min-width: 660px;
    height: 100vh;
    /*La sombra baja de la caja de 'Noticias'*/
    box-shadow: 0 8px 32px 0 var(--azul);
    /*Curva de las esquinas de la caja de 'Noticias'*/
    border-radius: 15px;
    /*El traslado de las imagenes*/
    overflow: hidden;
    /*Fondo del conejo*/
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    position: relative;
    margin-right: 15px;
}

/*Fondo del conejo*/
main .contenedor-slider::before {
    position: relative;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gris, 0.500);
}

main .carrusel {
    /*Es la cantidad de imagenes que usaras*/
    width: 200%;
    /*No NOTICIAS 1/2*/
    height: 100%;
    display: flex;
    /*border: solid thin red;*/
}

main .slider-section {
    /*Se divide por la cantidad de imagenes a usar*/
    width: calc(100% / 2);
    /*No. NOTICIAS 2/2*/
    height: 100%;
    text-align: center;
}

main .slider-section .ancho img {
    width: 100%;
    height: 100%;
}

main .slider-section .largo img {
    width: auto;
    height: 100%;
}

main .btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--rojo);
    transition: .5s ease;
}

main .btn-left:hover,
.btn-right:hover {
    background: var(--azul);
    color: white;
}

main .btn-left {
    /*Posición del btn*/
    left: 0;
}

main .btn-right {
    /*Posición del btn*/
    right: 0;
}

main .menu {
    width: 10%;
    height: 75%;
    display: block;
    /*padding: 0 10px 0 20px;*/
    justify-content: center;
    align-items: flex-end;
}

main .icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main .menu img {
    display: flex;
    width: 100%;
    height: 23.5%;
    /*Se "supone" que es para que las img. no se salgan del contenedor "menu"*/
    position: relative;
    transition: 0.5s;
}

main .menu a {
    /*Color de la letra*/
    color: black;
    /*Quitar la linea del link*/
    text-decoration: none;
    /*Centra el link*/
    text-align: center;
    /*El tiempo de cambio de color al pasar el cursor*/
    transition: 0.5s;
    /*Se "supone" que es para que las img. no se salgan del contenedor "menu"*/
    position: relative;
}

main .menu h2 {
    margin-top: 10px;
}

main .menu img:hover {
    transform: scale(1.10);
}

main .menu *:hover {
    color: var(--rdown);
}

main .icons {
    margin-top: 8vh;
}

main .icons img:hover {
    transform: scale(1.2);
}

/*Responsive 'Main'{769px}*/
@media screen and (max-width: 1000px) {

    /*Main*/
    main {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    main .container{
        position: relative;
        width: 100%;
        height: auto;
    }

    main .contenedor-slider{
        width: 85%;
        height: 100%;
    }

    main .menu{
        padding: 0 15px;
    }

    main .icons {
        margin-top: 7vh;
    }
}

/*Responsive 'Header' {430px}*/
@media screen and (max-width: 550px) {

    /*Main*/
    main {
        width: 100%;
        height: auto;
    }

    main .container{
        height: auto;
    }

    main .superior{
        display: block;
    }


    main .menu {
        width: auto;
        height: auto;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 35px;

    }

    main .menu img {
        width: 100px;
        height: auto;
    }

    main .icons {
        position: relative;
        background-color: violet;
    }
}