/*Reset*/
* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Times New Roman', Times, serif;
}

/* Main */
main {
    /*Tama침o de Altura*/
    height: auto;
    /*Color de la caja de 'Main'*/
    background: white;
    /*Separaci칩n de los lados*/
    padding: 20px 20px 30px;
    /*El orden de como van los componentes*/
    display: block;
}

main .prueba {
    display: flex;
}

main .contenedor-general {
    /*Para que los iconos no se salgan del contenedor*/
    position: relative;
    height: 100vh;
    /*La sombra baja de la caja de 'Noticias'*/
    box-shadow: 0 8px 32px 0 #1d3968;
    /*Curva de las esquinas de la caja de 'Noticias'*/
    border-radius: 15px;
    /*El traslado de las imagenes*/
    overflow: hidden;
    /*Fondo del conejo*/
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    position: relative;
}

/*Fondo del conejo*/
main .contenedor-general::before {
    position: relative;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.500);
}

main .carrusel {
    /*Es la cantidad de imagenes que usaras*/
    width: 200%; /*No NOTICIAS 1/2*/
    height: 100%;
    display: flex;
    /*border: solid thin red;*/
}

main .slider-section {
    /*Se divide por la cantidad de imagenes a usar*/
    width: calc(100% / 2); /*No. NOTICIAS 2/2*/
    height: 100%;
    text-align: center;
}

main .slider-section img {
    text-align: center;
    /* width: 100%;
    height: 100%;*/
    /*object-fit: cover;*/
    /*align-items: center;*/
}

main .slider-section .ex img {
    width: 100%;
    height: 100%;
} 

main .slider-section .in img {
    width: auto;
    /*50%*/
    height: 100%;
}

main .btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    border-radius: 50%;
    color: black;
    /*rgb(128, 128, 128);*/
    transition: .5s ease;
    /*background: transparent;*/
    /*padding: 0;*/
    /*font-weight: 600;*/
    /*cursor: pointer;*/
    /*transform: translate(0, -50);*/
    /*user-select: none;*/
}

main .btn-left:hover,
.btn-right:hover {
    background: black;
    color: white;
}

main .btn-left {
    /*Posici칩n del btn*/
    left: 0;
}

main .btn-right {
    /*Posici칩n del btn*/
    right: 0;
}

main .menu {
    width: 150px;
    height: 100vh;
    display: block;
    /*padding: 0 10px 0 20px;*/
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

main .menu img {
    display: flex;
    width: 100%;
    height: 18%;
    /*Se "supone" que es para que las img. no se salgan del contenedor "menu"*/
    position: relative;
    transition: 0.5s;
    margin-top: 20px;
}

main .menu a {
    /*Color de la letra*/
    color: black;
    /*Quitar la linea del link*/
    text-decoration: none;
    /*Centra el link*/
    text-align: center;
    /*El tiempo de cambio de color al pasar el cursor*/
    transition: 0.5s;
    /*Se "supone" que es para que las img. no se salgan del contenedor "menu"*/
    position: relative;
}

main .menu h2 {
    margin-top: 10px;
}

main .menu h4 {
    display: none;
}

main .menu img:hover {
    transform: scale(1.10);
}

main .menu *:hover {
    color: #c11627;
}

main .icons{
    margin-top: 7vh;
}

main .aniversario {
    margin-left: 19.5vh;
}

main .aniversario img:hover {
    transform: scale(1.2);
}

main .moodle {
    margin-left: 15vh;
}

main .moodle img:hover {
    transform: scale(1.2);
}

main .sii {
    margin-left: 15vh;
}

main .sii img:hover {
    transform: scale(1.05);
}

main .correo {
    margin-left: 15vh;
}

main .correo img:hover {
    transform: scale(1.2);
}

/*Responsive 'Main'{769px}*/
@media screen and (max-width: 1000px) {

    /*Main*/
    main {
        padding: 15px;
        display: block;
    }

    main .prueba{
        display: block;
    }

    main .contenedor-general {
        height: 67vh;
        background-size: cover;
    }

    main .menu {
        margin-top: 20px;
        display: flex;
        height:auto;
        width: auto;
        align-items: center;
        font-size: 150%;
        margin-right: 20px;
    }

    main .menu img {
        height: 13.5vh;
        width: 80%;
    }

    main .espa {
        padding-right: 35px;
    }

    main .menu h2 {
        display: none;
    }

    main .menu h4 {
        display: flex;
        font-size: 3vh;
        margin-right: 35px;
    }

    main .menu img:hover {
        transform: scale(1.05);
    }

    main .icons{
        margin-top: 3vh;
    }
    
    main .aniversario {
        margin-left: 5vh;
    }
    
    main .moodle {
        margin-left: 3vh;
    }
    
    main .sii {
        margin-left: 3vh;
    }
    
    main .sii img:hover {
        transform: scale(1.2);
    }
    
    main .correo {
        margin-left: 3vh;
    }
}

/*Responsive 'Header' {430px}*/
@media screen and (max-width: 450px) {

    /*Main*/
    main {
        padding: 5px;
        height: auto;
        display: block;
    }

    main .contenedor-general {
        height: 65vh;
    }

    main .menu {
        margin: 0;
        height: auto;
        justify-content: center;
        text-align: center;
        margin-right: 10px;
    }

    main .menu img {
        margin-top: 5px;
        height: 13vh;
        width: 13vh;
        padding-right: 3px;
    }

    main .menu a{
        height: 50%;
        width: 15%;
    }

    main .menu h4{
        margin: 0;
        font-size: 19px;
    }

    main .espa{
        padding: 0 20px;
    }

    main .icons img{
        height: auto;
        margin-top: 5px;
        width: 13vh;
    }
}