:root {
  --adown: #3771d754;
  --rojo: #9c0312;
  --azul: #1d3968;
  --rdown: #c11627;
  --gris: #515151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}

main {
  height: auto;
  padding: 15px;

  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  background-color: white;
}

.container {
  position: relative;
  width: 97.5%;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: white;
  display: flex;

  border-radius: 10px;
  background-color: var(--gris);
}

.left {
  width: 60%;
  padding: 20px;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--rdown);
  border-radius: 5px;
  background-color: white;
}

/* Recuadros de fondo de calendario */
/*Del medio*/
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #999999;
  transform: translateY(-50%);
}

/*Ultimo*/
.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: var(--rdown);
}

/*Nombre deL Mes*/
.calendar .month {
  background-color: var(--rdown);
  color: white;

  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

/*Flechas de cambio de mes*/
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}

/*Efecto cuando le das a cambio de mes*/
.calendar .month .prev:hover,
.calendar .month .next:hover {
  /*color: var(--primary-clr);*/
  color: var(--azul);
}

/*Cuadro de semana*/
.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Contenido In*/
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

/*Números del calenario*/
.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--rojo);
  color: var(--azul);
}

.calendar .days .day:nth-child(7n + 1) {
  border-left: 3px solid var(--rojo);
}

.calendar .days .day:nth-child(7n) {
  border-right: 3px solid var(--rojo);
}

.calendar .days .day:nth-child(-n + 7) {
  border-top: 3px solid var(--rojo);
}

.calendar .days .day:nth-child(n + 29) {
  border-bottom: 3px solid var(--rojo);
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: var(--rdown);
  background-color: var(--adown);
}

.calendar .days .prev-date,
.calendar .days .next-date {
  color: #717171;
}

/*Interacción del día*/
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #c11627;
  background-color: var(--adown);
}

/*Día actual*/
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--adown);
}

.calendar .days .today {
  font-size: 2rem;
}

.calendar .days .event {
  position: relative;
}

/*Borde inferior del día actual*/
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--rdown);
}

.calendar .days .day:hover.event::after {
  background-color: var(--azul);
}

.calendar .days .active.event::after {
  background-color: var(--azul);
  bottom: 20%;
}

.calendar .days .active.event {
  padding-bottom: 10px;
}

/*Busqueda de mes y año*/
.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--azul);
}

.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid var(--rojo);
}

.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--azul);
  border-radius: 5px;
}

/*Boton de 'Hoy'*/
.calendar .goto-today button {
  padding: 5px 10px;
  border: 3px solid var(--rojo);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--azul);
}

/*Click de boton de  'Hoy'*/
.calendar .goto-today button:hover {
  color: var(--rojo);
  background-color: var(--adown);
}

/*Borde izquierdo de 'Go'*/
.calendar .goto-today .goto button {
  border: none;
  border-left: 3px solid var(--rojo);
  border-radius: 0;
}

.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}

/*Fecha actual dd/mm/yyyy*/
.right .today-date .event-date {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}

.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

/*Lista de eventos*/
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: white;
  background: linear-gradient(90deg, var(--rojo), transparent);
  cursor: pointer;
}

/* even event */
.events .event:nth-child(even) {
  background: transparent;
}

/*Lista de eventos al dar click*/
.events .event:hover {
  background: linear-gradient(90deg, var(--azul), transparent);
}

.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}

/*[Click]Barra de eventos*/
.events .event i {
  color: var(--azul);
  font-size: 0.5rem;
}

/*[Click]Barra de eventos al darle click*/
.events .event:hover i {
  color: var(--rojo);
}

/**Datos del evento 'nombre'*/
.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
  margin-left: 15px;
  pointer-events: none;
}

/**Datos del evento 'horario'*/
.events .event:hover .event-time {
  color: white;
}

/*Palomiado*/
/* add tick in event after */
.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--rojo);
  transform: translateY(-55%);
}

.events .event:hover::after {
  display: flex;
}

.add-event {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--rojo);
  border: 3px solid var(--rojo);
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

/*Al darle click*/
.add-event:hover {
  opacity: 1;
  color: var(--azul);
  border: 3px solid var(--azul);
}

.add-event i {
  pointer-events: none;
}

.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--rojo);
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}

.add-event-wrapper.active {
  max-height: 300px;
}

.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
  border-bottom: 3px solid white;
}

/*Tacha*/
.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

/*[Click] tacha*/
.add-event-header .close:hover {
  color: var(--azul);
}

.add-event-header .title {
  font-size: 1.3rem;
  font-weight: 500;
}

.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}

.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/*Datos del evento add*/
.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 3px solid white;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #2c303f;
}

.add-event-body .add-event-input input::placeholder {
  color: #a5a5a5;
}

.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}

/*[Click] columnas de add event*/
.add-event-body .add-event-input input:focus::placeholder {
  color: var(--rojo);
}

.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/*BTN add*/
.add-event-footer .add-event-btn {
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: var(--rojo);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 3px solid black;
}

/*[Click] BTN add*/
.add-event-footer .add-event-btn:hover {
  background-color: var(--azul);
  color: white;
}

/* media queries */

@media screen and (max-width: 1000px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
  }

  .container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }

  .container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }

  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }

  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }

  .events {
    padding-bottom: 340px;
  }

  .add-event-wrapper {
    bottom: 100px;
  }
}

@media screen and (max-width: 500px) {
  .calendar .month {
    height: 75px;
  }

  .calendar .weekdays {
    height: 50px;
  }

  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }

  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }

  .right .today-date {
    padding: 20px;
  }
}

.credits {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: white;
  background-color: #b38add;
}

.credits a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.credits a:hover {
  text-decoration: underline;
}